.contentContainer {
  color: #ffffff;
  display: inline-flex;
  flex-direction: row;
  margin: 20px;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
}

.tile {
  background: #dcdde1;
  color: #000000;
  margin: 15px;
  padding: 10px 15px;
  border-radius: 0px 25px;
  flex: 0 0 25%;
}

.tileLarge {
  background: #dcdde1;
  color: #000000;
  margin: 15px;
  padding: 10px 15px;
  border-radius: 0px 25px;
  flex: 0 0 500px;
}

.tileLink {
  text-decoration: none;
}

h1 {
  font-family: "Radio Canada", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding: 0px;
  padding-top: 15px;
}

h2 {
  font-family: "Radio Canada", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 0px;
}

.launchStatusSuccess {
  font-family: "Radio Canada", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 0px;
  background: #6ab04c;
  padding: 7px 30px;
  border-radius: 5px;
}

.launchStatusFailed {
  font-family: "Radio Canada", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 0px;
  background: #c23616;
  padding: 7px 30px;
  border-radius: 5px;
}

.launchStatusTbd {
  font-family: "Radio Canada", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 0px;
  background: orange;
  padding: 7px 30px;
  border-radius: 5px;
}

.imageContainer {
  margin-top: 30px;
}

.imageContainer > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
